{% extends 'base.html.twig' %}

{% block content %}

	
		<!-- content begin -->
		<main role="main">
			<div class="content_bg">
				<article class="navigation">
					<nav>
						<ul class="nav_menu">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="{{ path('labrosite_article_list') }}">Статьи</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">Форум</a></li>
							<li><a href="#">Фотогаллерея</a></li>
						</ul>
					</nav>
				<div class="clear"></div>
				</article>
				<article class="intro">
					<section class="section_middle">
						<h1>Добро Пожаловать</h1>
						<h3>Все самое интересное о Ретриверах</h3>
						<img class="section_line" src="images/section_line.png" alt="">
						<p>Мы предоставим информацию на нашем сайте о месте и правилах проведения охотничьих соревнований, состязаний, испытаний. Так же, мы рады представить вам – новости из мира ретриверов, конкурсы, статистику, форум  и многое другое на Labrador.ua. 
						где будет указан ее пол, окрас, дата рождения, кличка), но и просто пообщаться, как с любителями, так и с профессионалами. Купить всё необходимое для питомца в нашем магазине. 
						Так же Вы можете добавить свою статью, новость или рекламу, которая касается ретриверов, объявление о продаже щенков.</p>
					</section>
				</article>
				<article class="content">
					<div class="news_wrap">
						<h1 class="news">Новости Сайта</h1>
						<section class="section_bottom">
							<p class="data">12 октября 2015</p>
							<div class="clear"></div>
							<img src="images/section_img.png" alt="">
							<h4>Почему лабрадор?</h4>
							<p class="about">Мы предоставим информацию на нашем сайте о месте и правилах проведения охотничьих</p>
							<a href="#">Подробнее</a>
						</section>
						<section class="section_bottom">
							<p class="data">12 октября 2015</p>
							<div class="clear"></div>
							<img src="images/section_img.png" alt="">
							<h4>Почему лабрадор?</h4>
							<p class="about">Мы предоставим информацию на нашем сайте о месте и правилах проведения охотничьих</p>
							<a href="#">Подробнее</a>
						</section>
						<section class="section_bottom" id="last_section">
							<p class="data">12 октября 2015</p>
							<div class="clear"></div>
							<img src="images/section_img.png" alt="">
							<h4>Почему лабрадор?</h4>
							<p class="about">Мы предоставим информацию на нашем сайте о месте и правилах проведения охотничьих</p>
							<a href="#">Подробнее</a>
						</section>
						<div class="clear"></div>
						<article class="partners">
							<hr class="bottom_line">
							<section class="section_partners_first">
								<h5>НАШИ ПАРТНЕРЫ:</h5>
							</section>
							<section class="section_partners_second">
								<img src="images/partners_img_first.png" alt="">
							</section>
							<section class="section_partners_third">
								<img src="images/partners_img_second.png" alt="">
							</section>
						</article>
					</div>
				</article>
			</div>
		</main>
		<!-- content end -->
		<!-- footer begin -->
		<footer>
			<div class="footer_wrap">
				<div class="copyright">
					<p>
						Copyright © Лабрадор. укр. All rights reserved.
					</p>
					<ul>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Статьи</a></li>
						<li><a href="#">Конатакты</a></li>
						<li><a href="#">Форум</a></li>
						<li><a href="#">Фотогаллерея</a></li>
					</ul>
				</div>
			</div>
		</footer>
		<!-- footer end -->



					
{% endblock %}

